
    ﻿ /*#region index */
    #aboutMe

{
    margin-top: 60px;
    
}

#aboutMeText {
    font-size: 18px;
    margin-top: 60px;
}

#headshot {
    border-radius: 15%;
    height:auto;
    margin-top: 15%;
}


#hero h2 {
    text-shadow: 3px 3px 6px black;
    color: #fff;
    margin: 10px 0 0 0;
    font-size: 30px;
}

#hero h1 {
    text-shadow: 3px 3px 6px white;
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #222222;
}
/*#endregion */

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/

.member {
    text-align: center;
    margin:25px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 10);
    padding: 40px 20px;
    background: #fff;
    height: 440px;
}

.member img {
        
        width: 220px;
        border-radius: 50%;
        margin: 0 0 30px 0;
    }
 .member .member-links h4 {
        font-weight: 600;
        margin: 10px 0 15px 0;
        font-size: 22px;
    }

 .member .member-links a {
        font-weight: 600;
        margin: 10px 0 15px 0;
        font-size: 22px;
        margin: .7em;
    }

 /*************************ABOUT************************************/
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #e8a87c;
    background: #e8a87c;
    font-weight: normal;
    color: #ffffff;
}
/*.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
    font-size: 100%;
    width: 60%;
    height: auto;
}
.ui-accordion .ui-accordion-content {
    padding: 1em 2.2em;
    border-top: 0;
    overflow: hidden;
    width: 60%;
}*/

/*#region resume */
#main {
    min-height: 524px;
}

#download {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px 10px 28px;
    border-radius: 50px;
    transition: 0.5s;
    border: 1px solid #555;
    color: #555;
}

    #download:hover {
        background: #fff;
        color: #70b9b0;
        border: 1px solid #70b9b0;
    }
/*#endregion */

/*#region contact */
#sendButton {
    background: #70b9b0;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
}

    #sendButton:hover {
        background: #92cac3;
    }

#emailConfirmation {
    margin-top: 100px;
    margin-left: 20px;
}
/*#endregion */
