
@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>

<main id="main">
    <!-- About me transition on the Home Page Section -->

    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>About Me</h2>
            </div>

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2">
                    @*Insert Image of me here!*@
                    <img src="~/Content/img/EnriqueGarciaProfessionalPhoto.jpg" id="headshot" class="img-fluid" alt="" />
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1">
                    <h3>I'm Enrique Garcia, <strong>Passionate, solution-driven junior developer</strong></h3>
                    <div id="aboutMeText">
                        <p>
                            Hello, my name is Enrique Garcia, and I am a Full Stack Web Developer working in the .NET Framework, having knowledge in the Front End, Middle Tier, and Back End. Before having these skills, I have been in different roles from a laborer to an operations manager. Through my experience in these occupations, I learned a lot about building relationships and networking that led me to expand my horizons. I gained a wide variety of traits like problem solving, critical thinking, and being coachable to achieve short or long term goals.
                            <br /><br />
                            With all that said, I felt like I was going through the motions and wasn’t able to fulfill my true purpose. Due to the pandemic, I had the chance to research a different calling. That’s when I took a leap of faith and started taking courses at Centriq to refine my project management skills and expand my knowledge of programming languages in the IT field. I know my unique skills can make a big impact in any setting, and I’d love to connect with you on LinkedIn!
                            <br /><br />
                            Connect with me here! &nbsp
                            <a href="https://www.linkedin.com/in/enrique-garcia1010/" title="LinkedIn" target="_blank"><i class="bi bi-linkedin fa-2x"></i></a>



                        </p>
                    </div>
                </div>
            </div>

        </div>
        <br /><br />
        <div class="section-title justify-content-center">
            <h2>My Skills</h2>
        </div>
        <div class="row p-4">
            <div class="col-md-4"></div>
            <div class="col-md-4" id="accordion">
                <h3>Front End</h3>
                <div>
                    <p>
                        HTML 5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Development, Bootstrap, ReactJS
                    </p>
                </div>
                <h3>Middle Tier</h3>
                <div>
                    <p>
                        C#.NET, ASP.NET, LINQ, MCV, EF, ASP.NET Web API
                    </p>
                </div>
                <h3>Back-End</h3>
                <div>
                    <p>
                        ADO.NET, SQL, SQL Server
                    </p>
                    <ul>
                        <li>SSMS</li>
                        <li>Visual Studio & VS Code</li>
                        <li>FileZilla</li>
                        <li>Postman</li>
                    </ul>
                </div>

            </div>
        </div>

    </section>
</main>

@section Scripts
    {
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#accordion").accordion({collapsible: true});

        });
    </script>
}

