@{
    ViewBag.Title = "Home";
}
<h2>@ViewBag.Title</h2>

<!-- Hero Section -->

<section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
        <h1>Enrique Garcia</h1>
        <h2>I'm a Full Stack Web Developer.</h2>
        @*<p id="Hello">Hello</p> Attempting at a typewritter*@

        <a href="@Url.Action("About","Home")" class="btn-about">About Me</a>
    </div>
</section><!-- End Hero -->
