@{
    ViewBag.Title = "Links";
}
<h2>@ViewBag.Title</h2>

<!-- ======= Main ======= -->
<main id="main">
    <!-- ======= Links Section ======= -->
    <section>
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Links</h2>
                <p>Students I attended Centriq Training.</p>
            </div>
            <div class="row">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="~/Content/img/classmates/Jazmine.jpg" alt="Jazmine Allen" />
                        <div class="member-links">
                            <h4><a href="http://jazminerizo.com" target="_blank">Jazmine Allen</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="~/Content/img/classmates/rbagunu_profilepictureresized.jpg" alt="Romeo Bagunu">
                        <div class="member-links">
                            <h4><a href="http://www.romeobagunu.com/" target="_blank">Romeo Bagunu</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="~/Content/img/classmates/Connor.jpg" alt="Connor Dunn">
                        <div class="member-links">
                            <h4><a href="http://fountaincitydev.com" target="_blank">Connor Dunn</a></h4>
                            <a href="https://www.linkedin.com/in/connor-dunn-396188233/" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="~/Content/img/classmates/Ian.jpg" alt="Ian McClaflin">
                        <div class="member-links">
                            <h4><a href="http://ianmcclaflin.com/" target="_blank">Ian McClaflin</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="~/Content/img/classmates/michael-redifer.jpg" alt="Michael Redifer">
                        <div class="member-links">
                            <h4><a href="http://michaelredifer.com/" target="_blank">Michael Redifer</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="~/Content/img/classmates/Sean.jpg" alt="Sean McKinney" />
                        <div class="member-links">
                            <h4><a href="http://mckinneywebdev.com/ " target="_blank">Sean Mckinney</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="~/Content/img/classmates/Kayla.jpg" alt="Kayla Nguyen">
                        <div class="member-links">
                            <h4><a href="http://www.kaylawin.com/" target="_blank">Kayla Nguyen</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="~/Content/img/classmates/Justin.jpg" alt="Justin Peacock">
                        <div class="member-links">
                            <h4><a href="http://projectpeacock.net/" target="_blank">Justin Peacock</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Links Section -->
</main>