
@{ ViewBag.Title = "Portfolio"; }




<main id="main">
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Projects</h2>
                <p>Below are links to some projects I have been working on. These projects range from my earliest development pieces to current pieces to those which I am still working on or experimenting with.</p>
            </div>

            <div class="border shadow my-3 w-75 mx-auto p-2">
                <h3>Project Sneaker</h3>
                <h4 class="text-muted"> This is an example of a Full Stack Two Tier MVC e-commerce design and build with HTML5, CSS3, C#, ASP.Net JavaScript, jQuery, SQL, XML, Bootstrap.</h4>
                <p>
                    This project was completed during the Advanced MVC portion of Centriq Training. It is a representation of my ability to build a full stack dynamic web application with an Entity Framework tied to its own Database. The template selection for this project was definitely a style choice and not one made of convenience. It truly tested my debugging skills and styling capabilities at times. I am pleased with the outcome and am glad that I stuck with my wireframe and original plan to produce this application.
                </p>
                <a href="http://projectsneaker.eriquzdev.com/" class="btn btn-outline-dark" target="_blank">View Project</a>

            </div>
            <div class="border shadow my-3 w-75 mx-auto p-2">
                <h3>scheduling Administration Tool</h3>
                <h4 class="text-muted">This is an example of a Pair Programming Full Stack Web Application using HTML5, CSS3, JavaScript, C#, ASP.Net, MVC, Entity Frameworks, SQL, Identity Samples, jQuery / jQuery DataTables, Bootstrap, Debugging, Pair Programming, and Trello.</h4>
                <p>

                    This project was completed during the Pair-Programming portion of Centriq Training. It is a representation of my ability to build a full stack web application, while working with development team. Using Aglie and SCRUM methodologies. This was a sprint pair-programming project where I collaborated with my classmates Romeo Bagunu.
                </p>
                <a href="http://sat.eriquzdev.com/" class="btn btn-outline-dark" target="_blank">View Project</a>

            </div>
            <div class="border shadow my-3 w-75 mx-auto p-2">
                <h3>Dungeon Application</h3>
                <p>
                    This project was completed during the Middle Tier Development portion of Centriq Training. A C# based console application and it is a representation of my ability to create a dungeon crawler game, that shows multi-stage processes broken down into steps to design complex logical structures.
                </p>
                <a href="https://github.com/eriquz/DungeonApp" class="btn btn-outline-dark" target="_blank">View Project</a>

            </div>
            <div class="border shadow my-3 w-75 mx-auto p-2">
                <h3>KCI Tex </h3>
                <p>
                    This project was completed during the Front-End Development portion of Centriq Training. It is a representation of my ability to create a website from scratch using only HTML and CSS. We were given a wireframe as a guide and to imagine we were building a website for a small business that provides instructional courses.
                </p>
                <a href="http://kcitex.eriquzdev.com/" class="btn btn-outline-dark" target="_blank">View Project</a>

            </div>
            <div class="border shadow my-3 w-75 mx-auto p-2">
                <h3>Personal Site</h3>
                <p>
                    This project was completed during the Front-End Development portion of Centriq Training. It is a representation of my ability to create a website using a template and manipulating the existing HTML, CSS, JavaScript, jQuery, jQueryUI and other functionality. Additionally the site was converted to a full MVC site to provide separation of concerns and source control.
                </p>
                <a href="http://eriquzdev.com/" class="btn btn-outline-dark" target="_blank">View Project</a>

            </div>
            <div class="border shadow my-3 w-75 mx-auto p-2">
                <h3>Personal Site</h3>
                <p>
                    This project was completed during the Front-End Development portion of Centriq Training. It is a representation of my ability to create a website using a template and manipulating the existing HTML, CSS, JavaScript, jQuery, jQueryUI and other functionality. Additionally the site was converted to a full MVC site to provide separation of concerns and source control.
                </p>
                <a href="http://eriquzdev.com/" class="btn btn-outline-dark" target="_blank">View Project</a>

            </div>
            @*<div class="border shadow my-3 w-75 mx-auto p-2">
            <h3>API</h3>
            <p>
            </p>
            <a href="" class="btn btn-outline-dark">View Project</a>

        </div>
        <div class="border shadow my-3 w-75 mx-auto p-2">
            <h3>Scheduling Admin Tool (Pair Programming Full Stack Web Application)</h3>
            <p>
                This project was completed during the Pair-Programming portion of Centriq Training. It is a representation of my ability to build a full stack web application while working with a development team using Agile and Scrum methodologies. This was a sprint pair-programming project where I collaborated with my classmate Romeo Bugunu
            </p>
            <a href="" class="btn btn-outline-dark">View Project</a>

        </div>
            *@

        </div>
    </section>
</main>