
@{
    ViewBag.Title = "Resume";
}

<h2>@ViewBag.Title</h2>

<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Resume</h2>
            <p>Bright technologist who quickly adapts knowledge into performance blended with innovative approaches. Consistently driven to complete tasks beyond the expectations of my leaders. New to the industry, but my innate aptitude & pace of learning exceeds most others..</p>
            <br />
            <a class="btn btn-outline-dark" href="~/Content/EnriqueGarciaResumeIT-Updated.pdf" target="_blank">View and Print a PDF copy of my Resume</a>
        </div>


        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>Enrique Garcia</h4>
                    <p><em>Full Stack Web Developer</em></p>
                    <p>
                        <ul>
                            <li>Gardner, KS</li>
                            <li>(913)-378-3220</li>
                            <li>EriquzGar10@outlook.com</li>
                        </ul>
                    </p>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Full Stack Web Development</h4>
                    <h5>2021-2022</h5>
                    <p><em>Centriq IT Training</em></p>
                    <p><em>Kansas City, MO</em></p>
                    <p>Aqcuire knowledge on what it means to develop a full stack web application. Build different kinds of applications within the .Net Stack using coding languages such as HTML, CSS, JavaScript, C#, and SQL. Learn how to convert a front-end application to a full stack application using the MVC software design pattern.</p>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Associates of Sicence &amp; Associates of Liberal Arts</h4>
                    <h5>2018- 2020</h5>
                    <p><em>Johnson County Community College, KS</em></p>
                    <p>Areas of study such as computer science, mathematics, and the sciences or professional programs that require strong mathematical and science backgrounds.</p>
                </div>
                <div class="resume-item">
                    <h4>Associates of Construction Management</h4>
                    <h5>2010 - 2014</h5>
                    <p><em>Johnson County Community College, KS</em></p>
                    <p>Studies of effective management of the project's schedule, cost, quality, safety, scope, and function. Construction management is compatible with all project delivery methods.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Assistant Manager &amp; Sales Associate</h4>
                    <h5>2017 - 2020</h5>
                    <p><em>Olathe, KS</em></p>
                    <p>
                        <ul>
                            <li>Directed and coordinated activities of personnel in buying, selling and distribution of inventory. </li>
                            <li>Aid in completing purchase transactions on a day-to-day basis while delivering excellent customer service to ensure satisfaction. </li>
                            <li>Coached and trained new hires on culture and services provided to clients. </li>
                            <li>Provided direction to team members, utilizing thorough communication for work orders. </li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Welder &amp; Assembler</h4>
                    <h5>2017 - 2018</h5>
                    <p><em>Olathe,KS</em></p>
                    <p>
                        <ul>
                            <li>Read blueprints and sourced material to be used in projects.</li>
                            <li>Checked finished work to make sure that it followed tolerances marked on the blueprints.</li>
                            <li>Welded materials using the correct materials to safely join the metals together.</li>
                            <li>Operated handling equipment according to industrial safety regulations.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->

